.footer-main-wrapper{
    height: 7vh;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.329) 0px 25px 20px 25px;
    position: fixed;
    top: 93vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: white;
    z-index: 9;
}

footer{
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icn{
    color: grey;
}

.active-icn{
    color: black;
    transform: rotate(45deg);
    transition: all ease-in .3s;
}